@import "tailwindcss";

@theme {
  --font-sans: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-sans);
}
